KNN

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
data = pd.read_csv("../datasets/Iris.csv")
data

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [11]:
x = data.drop("Species",axis=1)
y = data["Species"]
print(x.head())
y.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
0   1            5.1           3.5            1.4           0.2
1   2            4.9           3.0            1.4           0.2
2   3            4.7           3.2            1.3           0.2
3   4            4.6           3.1            1.5           0.2
4   5            5.0           3.6            1.4           0.2
{'Iris-virginica', 'Iris-setosa', 'Iris-versicolor'}

In [4]:
from sklearn.preprocessing import LabelEncoder
lb = LabelEncoder()
y = lb.fit_transform(y)
y

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2])

In [8]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2)

In [9]:
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier(n_neighbors=4)
knn.fit(x_train,y_train)
y_pred = knn.predict(x_test)
y_pred

array([1, 0, 2, 2, 0, 0, 1, 0, 2, 1, 0, 1, 0, 0, 0, 1, 1, 0, 0, 2, 1, 1,
       1, 1, 1, 0, 2, 2, 2, 0])

In [10]:
from sklearn.metrics import accuracy_score,confusion_matrix
print(confusion_matrix(y_test,y_pred))
accuracy_score(y_pred,y_test)

[[12  0  0]
 [ 0 11  0]
 [ 0  0  7]]

1.0

In [14]:
tn = ["setosa","virginica","versicolor"]
print(" ", "Actual", "      Predicted")
for i in range(len(y_test)):
    print(i," ",tn[y_test[i]],"      ",tn[y_pred[i]])

  Actual Predicted
0   virginica        virginica
1   setosa        setosa
2   versicolor        versicolor
3   versicolor        versicolor
4   setosa        setosa
5   setosa        setosa
6   virginica        virginica
7   setosa        setosa
8   versicolor        versicolor
9   virginica        virginica
10   setosa        setosa
11   virginica        virginica
12   setosa        setosa
13   setosa        setosa
14   setosa        setosa
15   virginica        virginica
16   virginica        virginica
17   setosa        setosa
18   setosa        setosa
19   versicolor        versicolor
20   virginica        virginica
21   virginica        virginica
22   virginica        virginica
23   virginica        virginica
24   virginica        virginica
25   setosa        setosa
26   versicolor        versicolor
27   versicolor        versicolor
28   versicolor        versicolor
29   setosa        setosa